*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000000;
}

.contenedor{
    background-image: url("https://wallpaperservices.azurewebsites.net/Senuas-Saga-Hellblade-II-Key-Art-Wallpaper/standard.png");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    position: absolute;
}
.efectoBlur{
    background-color: rgba(29, 29, 29, 0.473);
    width: 50%;
    height: 100%;
    border-radius: 0 0 20px 20px;
    backdrop-filter: blur(20px);
    position: relative;
}